---
import { Icon } from 'astro-icon';
import { TWITTER_LINK, GITHUB_LINK, EMAIL } from '../config';
---

<footer class="py-8 px-4">
  <div
    class="max-w-screen-md container mx-auto flex items-center gap-y-2 sm:flex-row flex-col-reverse"
  >
    <a href={`mailto:${EMAIL}`} class="flex gap-x-2 items-center">
      <Icon pack="ion" name="mail" class="w-6" />
      <span>{EMAIL}</span>
    </a>
    <div class="flex-auto"></div>
    <div class="flex gap-x-4">
      <a href={GITHUB_LINK} title="FizzyElt Github">
        <Icon pack="ion" name="logo-github" class="w-6" />
      </a>
      <a href={TWITTER_LINK} title="FizzyElt Twitter">
        <Icon pack="ion" name="logo-twitter" class="w-6" />
      </a>
    </div>
  </div>
</footer>
